@page

    <p style="font-size:22px ; text-align:center">
        Welcome to VoyageVista, your ultimate destination for seamless travel experiences and unforgettable adventures around the globe.
        <br >

        At VoyageVista, we are passionate about making travel accessible, enjoyable, and stress-free for all. Whether you're planning a solo escapade, a romantic getaway, or a family vacation, we're here to guide you every step of the way.


        <br>
        <br>
        Our team consists of seasoned travelers, travel enthusiasts, and industry experts who are dedicated to curating the perfect travel experiences tailored to your preferences. From discovering hidden gems off the beaten path to uncovering iconic landmarks, we're committed to helping you create memories that will last a lifetime.

        What sets us apart is our unwavering commitment to customer satisfaction and our relentless pursuit of excellence. 
        <br >
        We strive to provide unparalleled service, transparency, and reliability in everything we do, ensuring that your journey with us is nothing short of extraordinary.
        <br >
        Whether you're seeking adventure, relaxation, or cultural immersion, we have the expertise and resources to turn your travel dreams into reality. 
        <br >
        Join us on a journey of discovery, exploration, and endless possibilities with VoyageVista.
        <br >
        <br >
        Thank you for choosing VoyageVista as your trusted travel companion. Let's embark on an unforgettable adventure together!
    </p>

    <p>
        <div class="text-center">
            <h1 class="display-4">Our Team</h1>
    </p>

    <style>
    .img{
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    
    </style>
   <body>
   <figure>
        <img src="https://i.pinimg.com/originals/8d/e7/ed/8de7ed3e624a5f4bdf3ffaaca02ea52a.jpg" style="border-radius:40%"height="200" class="img">
        <div class="text-center">
        <figcaption><h4>Sayali Barhate</h4>

                <h5>Director</h5>
        </figcaption>
        </div>
        </figure>
        <br >
        <figure>
        <img src="https://img.freepik.com/free-photo/handsome-man-smiling-happy-face-portrait-close-up_53876-145493.jpg" style="border-radius:40%" height="200" class="img">
        <div class="text-center">
        <figcaption><h4>Rohan Vikhe</h4>

                <h5>Tour Manager</h5>
        </figcaption>
        </div>
        </figure>

        <br>
        <figure>
        <img src="https://img.freepik.com/premium-photo/portrait-smile-man-with-positive-confidence-carefree-against-grey-studio-background-face-male-person-human-with-cheerful-attitude-freedom-model-with-joy-canada-relax_590464-177008.jpg" style="border-radius:40%" height="200" class="img">
        <div class="text-center">
        <figcaption><h4>Divyansh Azad</h4>

                <h5>Tour Guide</h5>
        </figcaption>
        </div>
    </figure>
</body>