@page
<body>
	<div class="row">
		<div class="col-md-6 left-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4xsAZgJCNRJdy0PbtTY0by9s8MLhd14sg5TpTQuJP4dTEBJE4-TADPeANSf6qmZhDZBg&usqp=CAU" class="header-img"></div>
		<div class="col-md-6 col-lg-5 ml-auto flex-center mt-4 mt-md-0">
			<div class="home-page-content">
				<h1 class="home-sub-title  mb25"> Contact-us </h1>
				<div class="">
					<p><b>ADDRESS:</b> <br> Kothrud Pune <br> Pune District - 411019, Maharashtra, <br> INDIA.</p>
					<p><b>PHONE:</b><br>  +91-8976567876 / +91-8473295210</p>
					<p><b>EMAIL:</b><br><a href="mailto:vista123@gmail.com">vista123@gmail.com</a></p>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>
	<h3>Feel Free to Ask <img src="https://cdn-icons-png.flaticon.com/128/14715/14715540.png" height="35"></h3>
	<div class="contact-form">
		<br>
		<form name="form" id="dance_form" action="sent-form.php" method="post">
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Your Name: <b>* </b></label>
				<div class="col-sm-8">
					<input type="name" name="name" class="form-control" required="">
				</div>
			</div><br>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Your E-mail: <b>* </b></label>
				<div class="col-sm-8">
					<input type="email" name="email" class="form-control" required="">
				</div>
			</div><br>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Contact Number : <b>* </b></label>
				<div class="col-sm-8">
					<input type="phone" name="phone" class="form-control" required="">
				</div>
			</div><br>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Your Message : <b>* </b></label>
				<div class="col-sm-8">
					<textarea name="subject" class="form-control" rows="1" required=""></textarea>
				</div>
			</div><br>
			<div class="form-group row">
				<div class="col-sm-12">
					<button name="Submit" class="btn btn-primary" style="background-color:aliceblue"><a asp-page ="/contact">SEND</a></button>
					
				</div>
			</div>
		</form>
	</div>

	<style>
		.header-img {
			width: 600px;
		}
	</style>

</body>
