@page
@model example.Pages.MainJapanModel
@{
}
<body>

        <div class="text-center">
            <h1 class="display-4">Japan Tour Guide</h1>
        <p style="font-size:18px ;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">We are here to turn your dream Destination into reality</p>
            </div>




            <div class="container">
                 <div class="image">
                  <img  src="https://thestrongtraveller.com/wp-content/uploads/2020/11/18-102911-min.jpeg" height="300" width="400" />

                 <img src="https://hips.hearstapps.com/hmg-prod/images/hoshinoya-kyoto-floating-tearoom-3-1549906559.jpg" height="300" width="400" />
        <img src="https://japan-forward.com/wp-content/uploads/2022/05/23738816_l-1-scaled-e1652180919577.jpg" height="300" width="400" />
        </div>
        </div>
        <br >
        <br >

    <p style="font-size:30px">
        Japan, an island nation in East Asia, is renowned for its rich cultural heritage, cutting-edge technology, and stunning natural landscapes.
        From the bustling metropolis of Tokyo to the serene temples of Kyoto and the scenic countryside of Hokkaido, Japan offers a diverse range of experiences for travelers.
        <h4 style="text-align:left ;font-weight:bold">
            Historical and Cultural Landmarks:
        </h4>
        <h4 style="text-align:left ;font-weight:bold">Kyoto</h4>
    <p style="font-size:20px;text-align:left">Explore the ancient capital of Japan, known for its well-preserved temples, traditional wooden machiya houses, and serene bamboo forests. Visit iconic landmarks such as Kinkaku-ji (Golden Pavilion), Kiyomizu-dera Temple, and Fushimi Inari Taisha Shrine.</p>


    <h4 style="text-align:left ;font-weight:bold">Tokyo: </h4>
    <p style="font-size:20px ;text-align:left">
        Discover the vibrant capital city of Tokyo, where modern skyscrapers coexist with historic temples and shrines. Explore neighborhoods such as Shibuya, Shinjuku, and Asakusa, home to attractions like the Meiji Shrine, Tokyo Tower, and Senso-ji Temple.
    </p>


    <h4 style="text-align:left ;font-weight:bold ">Hiroshima and Nagasaki: </h4>
    <p style="font-size:20px ;text-align:left">
        Pay homage to the tragic history of World War II by visiting Hiroshima Peace Memorial Park and Nagasaki Peace Park, where you can learn about the devastating impact of the atomic bombings and the importance of peace and reconciliation.
    </p>


    <h4 style="text-align:left ;font-weight:bold">Natural Beauty:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>Mount Fuji: Marvel at the iconic silhouette of Mount Fuji, Japan's highest peak and a symbol of the country's natural beauty. Visit the Fuji Five Lakes region or climb Mount Fuji during the climbing season for panoramic views of the surrounding landscapes.</li>
        <li>Hokkaido: Explore the scenic island of Hokkaido, known for its vast national parks, hot springs, and outdoor activities such as skiing, snowboarding, and hiking. Visit popular destinations such as Sapporo, Furano, and Noboribetsu.</li>
       
    </ul>


    <h4 style="text-align:left;font-weight:bold">Cuisine and Dining:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Sushi and Sashimi: Indulge in Japan's world-famous sushi and sashimi, featuring fresh seafood such as tuna, salmon, and shrimp served with vinegared rice and wasabi.
        </li>
        <li>
            Ramen: Enjoy a steaming bowl of ramen, Japan's beloved noodle soup dish, available in various styles and flavors such as shoyu (soy sauce), miso, and tonkotsu (pork bone broth).
        </li>
        <li>
            Tempura and Kaiseki: Experience traditional Japanese cuisine with dishes like tempura (battered and fried seafood and vegetables) and kaiseki (multi-course haute cuisine) at ryokan (traditional inns) and upscale restaurants.
        </li>
    </ul>

    <h4 style="text-align:left;font-weight:bold">Arts and Culture:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Traditional Arts: Attend performances of traditional Japanese arts such as kabuki (classical theater), noh (traditional masked drama), and bunraku (puppet theater) at theaters and cultural venues across Japan.

        </li>
        <li>
            Museums and Galleries: Explore Japan's rich artistic heritage at museums and galleries showcasing traditional crafts such as ceramics, textiles, and lacquerware, as well as contemporary art and manga.
        </li>
    </ul>

    <h4 style="text-align:left;font-weight:bold">Technology and Innovation:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Akihabara: Visit Tokyo's electric town of Akihabara, a mecca for anime, manga, and video game enthusiasts, featuring electronics shops, arcades, and themed cafes.
        </li>
        <li>
            Robot Restaurants: Experience the future of entertainment at robot restaurants in Tokyo, where high-tech robots perform dazzling shows accompanied by flashy lights and music.
        </li>
    </ul>

    <h4 style="text-align:left;font-weight:bold">Transportation:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Japan boasts an efficient and extensive transportation network, including high-speed trains (Shinkansen), subways, buses, and ferries, making it easy to travel between cities and regions.
        <li>
            Consider purchasing a Japan Rail Pass for unlimited travel on JR trains, including Shinkansen, as well as certain buses and ferries, offering great value for exploring Japan.
        </li>
    </ul>



    <h4 style="text-align:left;font-weight:bold">Accomodations:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Choose from a variety of accommodation options in Japan, including traditional ryokan, modern hotels, guesthouses, and capsule hotels.
        </li>
        <li>
            Experience Japanese hospitality at ryokan, where you can sleep on tatami mats, enjoy hot spring baths (onsen), and savor multi-course kaiseki meals.
        </li>
    </ul>
<style>
    .container {
        position: relative;
        text-align: center;
        color: black;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    body {
            background-image: url('https://img.freepik.com/premium-photo/cherry-blossom-flower-spring-background-copy-space-text_174052-84.jpg?w=360');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

       

        main {
            padding: 20px;
        }

        .package {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 20px;
        }

            .package h2 {
                background-color: #EED3D9;
                color:black;
            }

        button {
            background-color: #EED3D9;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            padding: 10px 20px;
            transition: background-color 0.3s;
        }

            button:hover {
                background-color: #fff;
            }

       


</style>



    
        <h1>Japan Tour Packages</h1>
    

    <main>
        <section class="package">
            <h2>Tour Package</h2>
            <p>Discover the vibrant capital city of Japan with our Tokyo Exploration package. Visit historic temples, explore bustling neighborhoods, and indulge in delicious Japanese cuisine.</p>
            <p>Price: 31500 per person</p>
            <button><a asp-page="/bookingjapan" style="text-decoration:none">Book Now</a></button>
        </section>

        
    </main>
<br />
<br />

    

</body>
