@page
@model example.Pages.SwitzerlandModel
@{
}
<body>

    <div class="text-center">
        <h1 class="display-4">Switzerland Tour Guide</h1>
        <p style="font-size:18px ;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">We are here to turn your dream Destination into reality</p>
    </div>




<div class="container">
    <div class="image">
        <img src="https://media.istockphoto.com/id/179725071/photo/young-swiss-farmer-girl-leading-cows-to-fair.jpg?s=612x612&w=0&k=20&c=sEFcnZnanfn1TE7pbWJ04JunryxYqJIQvzknHe5oABg=" height="300" width="400" />

        <img src="https://www.luxewellnessclub.com/wp-content/uploads/2019/10/Alpine-Spa-Luxe-Wellness-Club-4-1-1024x682.jpg" height="300" width="400" />
        <img src="https://wanderlustcrew.com/wp-content/uploads/2023/02/Bernina-Express-Morteratsch-Glacier.jpeg" height="300" width="400" />
    </div>
</div>
<br>
<br>

    <p style="font-size:30px">

        Switzerland, located in the heart of Europe, is a landlocked country known for its stunning landscapes, including the Swiss Alps, pristine lakes, and picturesque villages.
        Renowned for its political neutrality, Switzerland is a haven of stability, democracy, and prosperity, making it an ideal destination for travelers seeking natural beauty, cultural experiences, and outdoor adventures.
        <h4 style="text-align:left ;font-weight:bold">
            Natural Landscapes:</h4>
        <h4 style="text-align:left ;font-weight:bold">Swiss Alps:</h4>
    <p style="font-size:20px;text-align:left">Explore the majestic Swiss Alps, home to iconic peaks such as the Matterhorn, Eiger, and Jungfrau. Enjoy skiing, snowboarding, hiking, and mountaineering in this breathtaking mountain range.</p>


    <h4 style="text-align:left ;font-weight:bold">Swiss Lakes:  </h4>
    <p style="font-size:20px ;text-align:left">
        Discover the crystal-clear lakes of Switzerland, including Lake Geneva, Lake Lucerne, and Lake Zurich. Enjoy scenic boat cruises, water sports, and lakeside picnics surrounded by stunning alpine scenery.
    </p>


    <h4 style="text-align:left ;font-weight:bold ">Swiss Castles: </h4>
    <p style="font-size:20px ;text-align:left">
        Visit majestic castles and fortresses scattered throughout Switzerland, such as Chillon Castle on Lake Geneva, Gruyères Castle in the Swiss countryside, and the medieval castles of Bellinzona.
    </p>


    <h4 style="text-align:left ;font-weight:bold">Cuisine and Dining:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>Indulge in Switzerland's world-famous chocolate, visiting artisan chocolatiers, chocolate factories, and chocolate museums. Sample delicious Swiss chocolate bars, truffles, and pralines.</li>
        <li>Savor traditional Swiss dishes such as cheese fondue and raclette, melting Swiss cheese over an open flame and dipping bread, potatoes, and vegetables.</li>
        <li> Enjoy hearty alpine cuisine featuring local specialties such as rösti (Swiss potato fritters), fondue bourguignonne (meat fondue), and Swiss-style sausages.</li>
    </ul>


    <h4 style="text-align:left;font-weight:bold">Cultural Events and Festivals:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Experience Swiss culture and traditions through a variety of festivals and events throughout the year, including the Basel Carnival, the Montreux Jazz Festival, and the Locarno Film Festival.
        </li>
        <li>
            Don't miss the opportunity to attend traditional Swiss folk festivals, alpine horn concerts, and yodeling performances.
        </li>
    </ul>

    <h4 style="text-align:left;font-weight:bold">Outdoor Activities:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Skiing and Snowboarding: Switzerland is a premier destination for winter sports enthusiasts, offering world-class ski resorts such as Zermatt, Verbier, and St. Moritz. Enjoy a wide range of skiing and snowboarding opportunities for all skill levels.

        </li>
        <li>
            Hiking and Mountain Biking: Explore scenic hiking trails and mountain biking routes across Switzerland, including the Swiss National Park, the Bernese Oberland, and the Engadin Valley. Discover breathtaking alpine scenery, pristine forests, and alpine meadows.
        </li>
    </ul>

    <h4 style="text-align:left;font-weight:bold">Transportation:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Switzerland boasts an efficient public transportation system, including trains, buses, boats, and cable cars, making it easy to explore the country's diverse landscapes and attractions.
        </li>
        <li>
            Consider purchasing a Swiss Travel Pass for unlimited travel on Switzerland's public transportation network, including trains, buses, and boats, as well as free admission to many museums and attractions.
        </li>
    </ul>


    <h4 style="text-align:left;font-weight:bold">Accomodations:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Choose from a wide range of accommodation options in Switzerland, including luxury hotels, charming chalets, mountain lodges, and budget hostels.
        </li>
        <li>
            Stay in picturesque alpine villages such as Zermatt, Grindelwald, or Wengen for easy access to hiking, skiing, and outdoor activities.
        </li>
    </ul>



<style>
    .container {
        position: relative;
        text-align: center;
        color: black;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    body {
            background-image: url('https://img.freepik.com/free-vector/abstract-watercolor-pastel-background_87374-126.jpg');
            background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }



    main {
        padding: 20px;
    }

    .package {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 20px;
    }

        .package h2 {
            background-color: #EED3D9;
            color: black;
        }

    button {
            background-color: #EED3D9;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s;
        text-decoration:none;
    }

        button:hover {
            background-color: #fff;
        }

</style>




<h1>Switzerland Tour Packages</h1>

   
    

        

        <main>
            
            <section class="package">
                <h2>Tour Package</h2>
                <p>Discover the rich cultural heritage of Zurich, Switzerland's largest city. Explore world-class museums, historic sites, and vibrant neighborhoods with our Zurich Cultural Tour package.</p>
                <p>Price: 18000 per person</p>
            <button><a asp-page="/bookingswitzerland" style="text-decoration:none">Book Now</a></button>
            </section>
        </main>
        <br />
        <br />

     </body>
