@page
@model example.Pages.MainParisModel
@{
}

<body>

    <div class="text-center">
        <h1 class="display-4">Paris Tour Guide</h1>
        <p style="font-size:18px ;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">We are here to turn your dream Destination into reality</p>
    </div>



<div class="container">
    <div class="image">
        <img src="https://images.squarespace-cdn.com/content/v1/62fbfbed423b4f1bb8caed31/39052a10-6782-4530-8acd-b61836779083/v2-5j7sr-s5ie7.jpg" height="300" width="400" />

        <img src="https://www.holidayparkguru.co.uk/uploads/8/9/1/0/89101264/disneyland-hotel-pink-sky_orig.jpg" height="300" width="400" />
        <img src="https://parisjetaime.com/data/layout_image/273_Tramway-gazon-630x405-C-OTCP-Marc-Bertrand-I-164-31.jpg?ver=1687768917" height="300" width="400" />
    </div>
</div>
<br>
<br>


    <p style="font-size:30px">

        Paris, the capital city of France, is often referred to as the "City of Light" (La Ville Lumière) due to its historical significance as a center of education and ideas during the Age of Enlightenment, as well as its early adoption of street lighting.
        Renowned for its romantic ambiance, Paris is a global hub for art, fashion, gastronomy, and culture.
        <h4 style="text-align:left ;font-weight:bold">Landmarks and Attractions:</h4>
        <h4 style="text-align:left ;font-weight:bold">Eiffel Tower:</h4>
    <p style="font-size:20px;text-align:left">An iconic symbol of Paris, the Eiffel Tower offers panoramic views of the city from its observation decks.</p>


    <h4 style="text-align:left ;font-weight:bold">Louvre Museum: </h4>
    <p style="font-size:20px ;text-align:left">
        One of the largest and most visited art museums in the world, the Louvre is home to thousands of works of art, including the Mona Lisa and the Venus de Milo.
    </p>


    <h4 style="text-align:left ;font-weight:bold ">Notre-Dame Cathedral: </h4>
    <p style="font-size:20px ;text-align:left">
        A masterpiece of French Gothic architecture, Notre-Dame Cathedral is known for its stunning facade, impressive rose windows, and flying buttresses.
    </p>


    <h4 style="text-align:left ;font-weight:bold">Cuisine and Dining:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>Paris is a culinary paradise, offering a wide range of dining experiences, from Michelin-starred restaurants to cozy bistros and street markets.</li>
        <li>Sample traditional French cuisine such as croissants, escargot, coq au vin, and crème brûlée, or indulge in international flavors from around the world.</li>
        <li>Don't miss the opportunity to enjoy a leisurely meal at a sidewalk café, savoring French wine and people-watching.</li>
    </ul>
    


    <h4 style="text-align:left;font-weight:bold">Shopping:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Paris is a fashion capital, home to renowned designer boutiques, department stores, and charming boutiques offering everything from haute couture to vintage finds.
        </li>
        <li>
            Explore iconic shopping districts such as the Marais, Saint-Germain-des-Prés, and the historic covered passages of the 2nd arrondissement.
        </li>
    </ul>


    
    <h4 style="text-align:left;font-weight:bold">Cultural Events and Festivals:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Highlights include Paris Fashion Week, the Fête de la Musique, Bastille Day celebrations, and the Paris Jazz Festival in the Parc Floral.
        </li>
        <li>
            Experience the vibrant cultural scene of Paris through its numerous festivals, exhibitions, concerts, and theatrical performances.
        </li>
    </ul>

    <h4 style="text-align:left;font-weight:bold">Parks and Gardens:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Take a leisurely stroll or a romantic boat ride along the Seine River, passing by landmarks such as the Île de la Cité and the Musée d'Orsay.

        </li>
        <li>
            Explore the beautiful parks and gardens of Paris, including the Luxembourg Gardens, Tuileries Garden, and the sprawling Bois de Boulogne.
        </li>
    </ul>

    <h4 style="text-align:left;font-weight:bold">Transportation:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Paris offers an efficient public transportation system, including the Métro, buses, and the RER suburban trains, making it easy to navigate the city.
        </li>
        <li>
            Consider purchasing a Paris Visite pass or a Paris Museum Pass for discounted access to public transportation and attractions.
        </li>
    </ul>


    <h4 style="text-align:left;font-weight:bold">Accomodations:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Choose from a variety of accommodation options in Paris, including luxury hotels, boutique hotels, budget hostels, and vacation rentals.
        </li>
        <li>
            Stay in central neighborhoods such as the Marais, Saint-Germain-des-Prés, or the Latin Quarter for convenient access to attractions and dining options.
        </li>
    </ul>


   






<style>
    .container {
        position: relative;
        text-align: center;
        color: black;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    body {
            background-image: url('https://img.freepik.com/free-vector/abstract-soft-colorful-watercolor-texture-background-design_1055-13570.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1711411200&semt=ais');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        
       }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }



        main {
            padding: 20px;
        }

        .package {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 20px;
        }

            .package h2 {
                background-color: #EED3D9;
                color: black;
            }

        button {
            background-color: #EED3D9;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            padding: 10px 20px;
            transition: background-color 0.3s;
        }

            button:hover {
                background-color: #fff;
            }

    </style>



        <main>
            <section class="package">
                <h2> Tour Package</h2>
                <p>Explore the iconic landmarks of Paris, including the Eiffel Tower, Louvre Museum, and Notre-Dame Cathedral with our Paris City Tour package.</p>
                <p>Price: 12000 per person</p>
            <button><a asp-page="/bookingparis" style="text-decoration:none">Book Now</a></button>
            </section>

            
        </main>

       <br />
       <br />
   </body>