@page
@model example.Pages.SwitzerlandModel
@{
}
<body>

    <div class="text-center">
        <h1 class="display-4">Italy Tour Guide</h1>
        <p style="font-size:18px ;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">We are here to turn your dream Destination into reality</p>
    </div>




    <div class="container">
        <div class="image">
            <img src="https://pbs.twimg.com/media/E-ONbBCXEAokvDu.jpg:large" height="300" width="400" />

            <img src="https://media.cnn.com/api/v1/images/stellar/prod/181003185841-13-italy-beautiful-hotels-jk-capri.jpg?q=w_4256,h_2394,x_0,y_0,c_fill" height="300" width="400" />
            <img src="https://www.learnitalianpod.com/wp-content/uploads/2022/12/taste-of-italy.jpg" height="300" width="400" />
        </div>
    </div>
    <br>
    <br>

    <p style="font-size:30px">
        Italy, located in southern Europe, is famous for its ancient history, art, architecture, and delicious cuisine.
        Home to iconic landmarks such as the Colosseum in Rome, the canals of Venice, and the leaning tower of Pisa, Italy offers a diverse range of experiences for travelers.
        <h4 style="text-align:left ;font-weight:bold">
            Historical Landmarks:
        </h4>
        <h4 style="text-align:left ;font-weight:bold">Colosseum (Colosseo), Rome:</h4>
    <p style="font-size:20px;text-align:left">
        Explore the ancient amphitheater that once hosted gladiator battles and other spectacles. Marvel at its grandeur and learn about its fascinating history.
    </p>


    <h4 style="text-align:left ;font-weight:bold">Roman Forum (Foro Romano), Rome:  </h4>
    <p style="font-size:20px ;text-align:left">
        Walk through the ruins of ancient Roman government buildings, temples, and basilicas, gaining insight into daily life in ancient Rome.
    </p>


    <h4 style="text-align:left ;font-weight:bold ">Pompeii and Herculaneum: </h4>
    <p style="font-size:20px ;text-align:left">
        Visit the archaeological sites of Pompeii and Herculaneum near Naples, which were buried by the eruption of Mount Vesuvius in 79 AD. Explore well-preserved ruins and artifacts that offer a glimpse into Roman life.
    </p>


    <h4 style="text-align:left ;font-weight:bold">Cuisine and Dining:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>Italian Cuisine: Indulge in Italy's world-famous cuisine, including pasta dishes like spaghetti alla carbonara and fettuccine alfredo, pizzas from Naples, and regional specialties such as risotto from Milan and gelato from Florence.</li>
        <li>Wine Tasting: Explore Italy's diverse wine regions, from Tuscany and Piedmont to Sicily and the Veneto. Enjoy wine tastings at local vineyards and wine bars, sampling varietals such as Chianti, Barolo, and Prosecco.</li>
        <li>Coffee Culture: Experience Italy's coffee culture at historic cafes in cities like Rome, Florence, and Venice. Sip on espresso, cappuccino, and macchiato while soaking up the ambiance of these iconic establishments.</li>
    </ul>


    <h4 style="text-align:left;font-weight:bold">Art and Culture:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Vatican City, Rome: Discover the Vatican Museums, home to one of the world's greatest art collections, including Michelangelo's masterpiece, the Sistine Chapel ceiling.
        </li>
        <li>
            Florence: Explore the birthplace of the Renaissance, where you can admire masterpieces by artists such as Leonardo da Vinci, Michelangelo, and Botticelli at the Uffizi Gallery and the Accademia Gallery.
        </li>
        <li>
            Venice: Immerse yourself in the romantic atmosphere of Venice, known for its beautiful canals, Renaissance architecture, and world-renowned art collections at the Gallerie dell'Accademia and the Peggy Guggenheim Collection.
        </li>
    </ul>

    <h4 style="text-align:left;font-weight:bold">Festivals and Events:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Venice Carnival: Experience the magical atmosphere of the Venice Carnival, with its elaborate masks, costumes, and masquerade balls held throughout the city's historic streets and squares.
        </li>
        <li>
            Siena Palio: Witness the thrilling horse race known as the Palio di Siena, held twice a year in the medieval city of Siena. Experience the excitement and pageantry of this historic event, which dates back to the Middle Ages.
        </li>
    </ul>

    <h4 style="text-align:left;font-weight:bold">Transportation:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Italy offers an extensive and efficient transportation network, including high-speed trains, regional trains, buses, and ferries, making it easy to travel between cities and regions.
        </li>
        <li>
            Consider purchasing a Eurail Italy Pass or an Italy InterRail Pass for unlimited travel on Italy's trains and buses, allowing you to explore the country at your own pace.
        </li>
    </ul>


    <h4 style="text-align:left;font-weight:bold">Accomodations:</h4>
    <ul style="text-align:left ; font-size:20px">
        <li>
            Choose from a variety of accommodation options in Italy, including luxury hotels, boutique bed and breakfasts, agriturismi (farm stays), and budget-friendly hostels.
        </li>
        <li>
            Stay in the historic centers of cities like Rome, Florence, and Venice for easy access to major attractions and cultural landmarks.
        </li>
    </ul>



    <style>
        .container {
            position: relative;
            text-align: center;
            color: black;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }


        body {
            background-image: url('https://wallpapers.com/images/hd/pink-watercolor-i8io932b78hvvyds.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }



        main {
            padding: 20px;
        }

        .package {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 20px;
        }

            .package h2 {
                background-color: #EED3D9;
                color: black;
            }

        button {
            background-color: #EED3D9;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            padding: 10px 20px;
            transition: background-color 0.3s;
        }

            button:hover {
                background-color: #fff;
            }

    </style>




    <h1>Italy Tour Packages</h1>

    <main>
        <section class="package">
            <h2>Tour Package</h2>
            <p>Explore the ancient wonders of Rome, including the Colosseum, Vatican City, and Trevi Fountain with our Rome Sightseeing package.</p>
            <p>Price: 36000 per person</p>
            <button><a asp-page="/bookingamritsar" style="text-decoration:none">Book Now</a></button>
        </section>

       
    </main>
    <br>
    <br />

</body>
