@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At VoyageVista, we are committed to protecting your privacy and ensuring that your personal information is handled in a safe and responsible manner. This Privacy Policy outlines how we collect, use, disclose, and protect your information when you visit our website or use our services.


    <h5>Information We Collect:</h5>

    <h6>Personal Information:</h6> When you create an account, make a booking, or sign up for our newsletter, we may collect personal information such as your name, email address, phone number, and billing information.
    <h6>Log Data:</h6>Like many websites, we automatically collect certain information when you visit our site, including your IP address, browser type, referring/exit pages, and operating system.
    <h6>Cookies:</h6>We use cookies and similar tracking technologies to enhance your browsing experience and gather information about how you use our website.

    <h6>How We Use Your Information:</h6>
           Personalization: We use your information to personalize your experience on our website and tailor our services to your preferences.
           Communication: We may use your contact information to send you updates, newsletters, promotional offers, and important service-related notices.
           Transactions: Your information is used to process bookings, payments, and other transactions you make on our website.
           Analytics: We analyze website usage data to improve our services, optimize marketing efforts, and enhance the overall user experience
          <h5>Information Sharing:</h5>
           Service Providers: We may share your information with third-party service providers who assist us in operating our website, processing transactions, or delivering services to you.
           Legal Compliance: We may disclose your information when required by law or in response to lawful requests from public authorities.
          <h5>Data Security:</h5>
          We employ industry-standard security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.
         <h5>Third-Party Links:</h5>
         Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of these sites.
    <h5> Children's Privacy:</h5>
       Our services are not intended for individuals under the age of 18. We do not knowingly collect personal information from children.
    <h5>Changes to this Policy:</h5>
      We reserve the right to update or modify this Privacy Policy at any time. Any changes will be reflected on this page with a revised effective date.

    By using our website or services, you consent to the collection and use of your information as outlined in this Privacy Policy. If you have any questions or concerns about our privacy practices, please contact us at [contact email/phone number].</h3>

</p>
